### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## BibLaTeX auxiliary files:
*.bbl
*.bcf
*.blg

## Intermediate documents:
*.dvi
*-converted-to.*

### Editor ###
## Vim & Emacs temp files:
.*sw[op]
*~

## VS Code temp files:
__latexindent_temp.tex
cv.fdb_latexmk
coverletter.synctex.gz
cv.synctex.gz
coverletter.run.xml

### Mac OS X ###
## Mac OS X metadata files:
*.DS_Store

examples/__latexindent_temp.pdf
examples/__latexindent_temp.run.xml
examples/__latexindent_temp.synctex.gz
